# deps
node_modules

# turbo
.turbo
tsconfig.tsbuildinfo
.tsbuildinfo

# build
dist
build

# test
coverage

# lint
.eslintcache


# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode
.idea
.DS_Store

# .env
.env

# next
next-env.d.ts
.next
generated